@model Answery.Web.ViewModels.User.UserViewModel

@if (Model == null)
{
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <h2 class="center blue-text text-darken-2 flow-text">User doesn't exist :(</h2>
            </div>
        </div>
    </div>
}
else
{
    ViewBag.Title = Model.Username + " | Answery";
    <div id="profile-page-header" class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://demo.geekslabs.com/materialize/v2.3/layout03/images/user-profile-bg.jpg" alt="user background">
        </div>
        <figure class="card-profile-image">
            <img src="http://staffprofiles.bournemouth.ac.uk/library/images/nopicture-male.jpg" alt="profile image" class="circle z-depth-2 responsive-img activator">
        </figure>
        <div class="card-content">
            <div class="row">
                <div class="col s3 offset-s3">
                    <h4 class="card-title grey-text text-darken-4">@Model.Username</h4>
                    <p class="medium-small grey-text">Project Manager</p>
                </div>
                <div class="col s2 center-align">
                    <h4 class="card-title grey-text text-darken-4">10+</h4>
                    <p class="medium-small grey-text">Answered questions</p>
                </div>
                <div class="col s2 center-align">
                    <h4 class="card-title grey-text text-darken-4">6</h4>
                    <p class="medium-small grey-text">People connected</p>
                </div>
                @*<div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">$ 1,253,000</h4>
                        <p class="medium-small grey-text">Busness Profit</p>
                    </div>*@
                <div class="col s1 right-align">
                    <a class="btn-floating activator waves-effect waves-light darken-2 right">
                        <i class="mdi-action-perm-identity grey darken-3"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-reveal black-text">
            <p>
                <span class="card-title grey-text text-darken-4">@Model.Username <i class="mdi-navigation-close right"></i></span>
                <br/>
                <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Registered on @Model.CreatedOn.ToString("yyyy MMMM dd")</span>
                <br />
                <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> First name @Model.FirstName</span>
                <br />
                <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Last name @Model.LastName</span>
            </p>

            <p>@Model.About</p>
                
            <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> Answered questions: @Model.AnsweredQuestions</p>
            <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> Unanswered questions: @Model.UnAnsweredQuestions</p>
            <p>@*<i class="mdi-communication-email cyan-text text-darken-2"></i> Connected with: @Model.ConnectedWith people*@</p>
            <p><i class="mdi-social-cake cyan-text text-darken-2"></i> Age: @Model.Age</p>
        </div>
    </div>
}

