@using Microsoft.AspNet.Identity
@model IEnumerable<Answery.Web.ViewModels.Question.QuestionViewModel>
<div>
    @if (Model.Count() == 0)
    {
        @Html.Partial("NoQuestionsPartial", "No questions have been answered yet :(")
    }
    else
    {
        foreach (var question in Model)
        {
            <div id="profile-page-wall-posts" class="row">
                <div class="col s12">
                    <div id="profile-page-wall-post" class="card">
                        <div class="card-profile-title">
                            <div class="row">
                                <div class="col s10">
                                    <span class="grey-text text-darken-1 ultra-small">Asked on @question.CreatedOn.ToString("dd MMMM yyyy hh:mm")</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 black-text">
                                    <p class="flow-text">
                                        @question.Content
                                    </p>
                                </div>
                            </div>
                            <hr class="black" />
                            <div class="row">
                                <div class="col s10">
                                    <span class="text-darken-2 ultra-small light-green-text">
                                        Answered on @if (question.AnsweredOn != null)
                                        {
                                            <span>@question.AnsweredOn.Value.ToString("dd MMMM yyyy hh:mm")</span>
                                        }
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 black-text">
                                    <p class="bold">
                                        @question.Answer
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <br />
                            <div class="row">
                                <div class="col s4">
                                    <button data-question-id="@question.Id" class="btn-floating waves-effect waves-light red like-question"><i class="material-icons">thumb_up</i></button>
                                    <span>
                                        @if (question.Likes != null)
                                        {
                                            if (question.Likes.Count() == 1)
                                            {
                                                <span class="black-text flow-text">@question.Likes.Count() person likes that</span>
                                            }
                                            else
                                            {
                                                <span class="black-text flow-text">@question.Likes.Count() people like that</span>
                                            }

                                        }
                                    </span>
                                </div>
                                <div class="col s3 offset-s5">
                                    <button data-question-id="@question.Id" class="btn-floating waves-effect waves-light red like-question"><i class="material-icons">comment</i></button>
                                    <button class="btn btn-flat black-text post-comment-btn" data-question-id="@question.Id">@question.Comments.Count() comments</button>
                                    <br />
                                </div>

                                <div class="row question_id_@question.Id hide">
                                    <div class="col s12 black-text">
                                        <br />
                                        <hr />
                                        <h2 class="center flow-text">Comments</h2>
                                        <div>
                                            <div class="row">
                                                <div class="input-field col s10 offset-s1">
                                                    <textarea id="comment-content" cols="4" class="materialize-textarea black-text question-textarea-id-@question.Id"></textarea>
                                                    <label for="textarea" class="">Comment body</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s2 offset-s5">
                                                    <button id="ask-a-question-btn" class="waves-effect white blue-text btn comment-button" data-question-id="@question.Id">Comment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row black-text">
                                        <div class="col s10 offset-s1">
                                            <ul id="issues-collection" class="collection">
                                                @if (question.Comments.Any())
                                                {
                                                <li class="collection-item avatar">
                                                    <i class="material-icons red circle">comment</i>
                                                    <span class="collection-header">Comments</span>
                                                    <a href="#" class="secondary-content"><i class="material-icons">comment</i></a>
                                                </li>
                                                    foreach (var comment in question.Comments)
                                                    {
                                                         <li class="collection-item">
                                                             <div class="row">
                                                                 <div class="col s7">
                                                                     <p class="collections-title"><strong>Commented on @comment.CreatedOn.ToString("yyyy MMMM dd hh:mm")</strong></p>
                                                                     <p class="collections-content">@comment.Content</p>
                                                                 </div>
                                                             </div>
                                                         </li>
                                                     }
                                                }
                                                else
                                                {
                                                    <div class="center">No comments for this question.</div>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>