@using Microsoft.AspNet.Identity
@model IEnumerable<Answery.Web.ViewModels.Question.QuestionViewModel>
<div>
    @if (Model.Count() == 0)
    {
        @Html.Partial("NoQuestionsPartial", "No questions have been answered yet :(")
    }
    else
    {
        foreach (var question in Model)
        {
            <div id="profile-page-wall-posts" class="row">
                <div class="col s12">
                    <div id="profile-page-wall-post" class="card">
                        <div class="card-profile-title">
                            <div class="row">
                                <div class="col s10">
                                    <span class="grey-text text-darken-1 ultra-small">Asked on @question.CreatedOn.ToString("dd MMMM yyyy hh:mm")</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 black-text">
                                    <p class="flow-text">
                                        @question.Content
                                    </p>
                                </div>
                            </div>
                            <hr class="black" />
                            <div class="row">
                                <div class="col s10">
                                    <span class="text-darken-2 ultra-small light-green-text">
                                        Answered on @if (question.AnsweredOn != null)
                                        {
                                            <span>@question.AnsweredOn.Value.ToString("dd MMMM yyyy hh:mm")</span>
                                        }
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 black-text">
                                    <p class="bold">
                                        @question.Answer
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col s3">
                                    <button data-question-id="@question.Id" class="btn-floating waves-effect waves-light red like-question"><i class="material-icons">thumb_up</i></button>
                                    <br />
                                    <span>
                                        @if (question.Likes != null)
                                    {
                                        if (question.Likes.Count() == 1)
                                        {
                                            <span class="black-text flow-text">@question.Likes.Count() person likes that</span>
                                        }
                                        else
                                        {
                                            <span class="black-text flow-text">@question.Likes.Count() people like that</span>
                                        }

                                    }
                                </span>
                                <span class="grey-text text-darken-1 ultra-small">
                                    @if (question.Comments != null)
                                    {
                                        foreach (var comment in question.Comments)
                                        {
                                            <div>comment.Content</div>
                                        }
                                    }@*@if (question.Comments != null)
                                        {
                                        <div>@question.Comments.Count() comments</div>
                                        }*@
                                </span>
                            </div>
                            <div class="col s3 offset-s5">
                                <button data-question-id="@question.Id" class="btn-floating waves-effect waves-light red like-question"><i class="material-icons">comment</i></button>
                                <span class="black-text"> comments</span>
                                <br />
                                <span>
                                    <span class="black-text flow-text">Post a Comment</span>
                                </span>
                                <span class="grey-text text-darken-1 ultra-small">
                                    @if (question.Comments != null)
                                    {
                                        foreach (var comment in question.Comments)
                                        {
                                            <div>comment.Content</div>
                                        }
                                    }@*@if (question.Comments != null)
                                        {
                                        <div>@question.Comments.Count() comments</div>
                                        }*@
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    }
</div>